{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="py-5">
    <div class="container">
        <div class="container-fluid py-5">
             <form action="/search/" method="post" class="px-4 input-group w-auto">
                 {% csrf_token %}
                 <input type="search" name="query_friend" class="form-control rounded" placeholder="Search for your friends" aria-label="Search"/>
                 <input type="submit" class="btn btn-primary" value="Search"/>
             </form>
         </div>
        <div class="row row-cols-1 row-cols-sm-4 row-cols-md-6 g-3">
            {% if users|length > 0 %}
                {% for friend in users %}
                    <div class="col">
                        <div class="card shadow-sm" style="border: none">
                            <img src="/media/{{ friend.image.name }}" onerror="this.onerror=null;this.src='/static/imgs/{{ friend.image.name }}';">
                            <div class="card-body">
                                <p class="card-text"> {{ friend.username }} </br>
                                    <small class="text-muted">{{ user.user_email }}</small>
                                </p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary">Check profile</button>
                                        <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}