{% extends "layout.html" %}
{% load static %}

{% block content %}

    {% include "status_message.html" %}
    <script src="{% static 'scripts/utils.js' %}"></script>

    <div class="py-5">

        <div class="container">

            <h2 class="fw-bolder">Following</h2>

            <div class="container-fluid py-5">
                <form action="/search/" method="post" class="px-4 input-group w-auto">
                    {% csrf_token %}
                    <input type="search" name="query_friend" class="form-control rounded"
                           placeholder="Search for who you're following..." aria-label="Search"/>
                    <input type="submit" class="btn btn-primary" value="Search"/>
                </form>
            </div>
            {% if users|length > 0 %}
                <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3">

                    {% for friend in users %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/media/{{ friend.image.name }}">
                                <div class="card-body">
                                    <p class="card-text"> {{ friend.username }} </br>
                                        <small class="text-muted">Description</small>
                                    </p>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button class="btn btn-primary"
                                                    onclick="unfollowUser('{{ friend.user_email }}', '{{ csrf_token }}')">Unfollow
                                            </button>
                                            <button class="btn btn-outline-primary"
                                                    onclick="redirect('/profile/' + '{{ friend.user_email }}')">Profile
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="container text-center mt-4">
                    <p class="fw-light">You are not following anyone.</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}