{% extends 'layout2.html' %}
{% load static %}

{% block content %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="{% static "imgs/messageIcon2.png" %}" id="icon" alt="User Icon"
                     style="color: black; max-height: 100px; max-width: 100px;"/>
            </div>

            <!-- Login Form -->
            <form action="." method="post" class="form-horizontal justify-content-center">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        <div class="col">
                            {{ field }}
                        </div>
                    </div>
                    {% if field.help_text %}
                        <p>
                            <small style="color: grey">{{ field.help_text }}</small>
                        </p>
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="validation-summary-errors" style="color: red">{{ error }}</p>
                    {% endfor %}

                {% endfor %}
                <input type="hidden" name="next" value="/"/>
                <input type="submit" value="Register" class="fadeIn fourth"/>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="/login/">Login</a>
            </div>

        </div>
    </div>

    <!--
    <div class="py-5">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <section id="registerForm">
                        <form action="." method="post" class="form-horizontal justify-content-center">
                            {% csrf_token %}
                            <h4>Sign up</h4>
                            <hr/>
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    <div class="col-md-10">
                                        {{ field }}
                                    </div>
                                </div>
                                {% if field.help_text %}
                                    <p>
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    </p>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p class="validation-summary-errors" style="color: red">{{ error }}</p>
                                {% endfor %}

                            {% endfor %}
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="hidden" name="next" value="/"/>
                                    <div class="py-2">
                                        <input type="submit" value="Register" class="btn btn-primary"/>
                                    </div>
                                </div>
                            </div>
                            <p>Have an account already? <a href="/login/">Log in</a></p>
                        </form>
                    </section>
                </div>

                    <div class="col-md-4">
                        <section id="socialLoginForm"></section>
                    </div>

            </div>
        </div>
    </div>
    -->

{% endblock %}