<div class="modal fade" id="status_message_modal" tabindex="-1" role="dialog" aria-labelledby="Status Modal"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="status_message_modal_title">Comment</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p id="status_message_modal_body"></p>
            </div>

        </div>

    </div>

</div>